# Скопируй этот файл в .env и заполни своими значениями.
# В .env НЕ коммить (см. .gitignore).

BOT_TOKEN=7570678467:AAH-TKhWH0MUxDB4rZe4hrheOCKMgKSa6Qk
OWNER_ID=26806224
TZ=Europe/Moscow
DAILY_HOUR=10
DAILY_MIN=0
